body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cccccc;
}

nav .menuBox{
    float: left;
    display: block;
    color: #f2f2f2;
    position: relative;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
}